#root {
    min-width: 300px;
}


.main {
    position: relative;
    top: 40px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 4px;
    width: 700px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 #aaa;
    background-color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2px 2px #aaa;
    overflow: hidden;
}

.main .grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0rem;
    user-select: none;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 3px 0 #aaa, 0px 0px 5px 0 #fff inset;
    /* 手机端点击背景颜色 */
    -webkit-tap-highlight-color: transparent;
    transition: .3s;

    &:hover {
        box-shadow: 0px 0px 5px 0 #aaa inset;
    }

    /* 已填写格子 */
    &.inserted {
        background-color: #e7f1ff;
        box-shadow: 0 0 2px 0 #fff inset;
        font-size: 1rem;
    }

    /* 选中格子 */
    &.selected {
        box-shadow: 0px 0px 5px 0 #000 inset;
    }

    /* 固定格子 */
    &.fixed {
        background-color: #bbb;
    }
}



.toolbar-main {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 95%;
    min-width: 300px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #aaa;
    background-color: #fff;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 500px;
        height: 500px;
    }

}

@media screen and (max-width: 500px) {
    .main {
        width: 350px;
        height: 350px;
    }
}